.autonomous-tiles{
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: auto auto;
    gap: 2vw 1vh;
    justify-content: center;
}

.custom-tile{
    border: 0.5px solid rgb(14, 7, 58);
    box-shadow: 3px 6px 6px;
    padding: 40px;
    margin: 20px;
    border-radius: 0.5em;
    text-align: center;
}
.custom-tile:hover{
    background-color: rgb(14, 7, 58);
}
.anc{
    color:rgb(107, 36, 36);
}

@media only screen and (max-width: 700px) {

    .autonomous-tiles{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: auto auto;
        gap: 2vw 1vh;
        justify-content: center;
    }

  }